/*=============== SERVICES ===============*/
.services__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
}
.services__card {
  background-color: var(--container-color);
  padding: 3rem 1.5rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

}
.services__card:hover .services__icon {
  animation: slideRight 1s infinite;
}
@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.25rem);
  }
  100% {
    transform: translateX(0);
  }
}

.services__title {
  font-size: var(--h3-font-size);
  margin-bottom: 2.5rem;
}
.services__button {
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
}
.services__icon {
  font-size: 1rem;
}
/*=============== BREAKPOINTS / MEDIAQUERIES ===============*/

/* For small devices */
@media (width <=310px) {
  .services__container {
    grid-template-columns: repeat(2, 125px);
    justify-content: center;
    gap: 0.8rem;
  }
}

/* For medium devices */
@media (width >= 576px) {
  .services__container {
    grid-template-columns: repeat(3, 160px);
    justify-content: center;
  }
}

/* For large devices */
@media (width >= 992px) {
  .services__container {
    grid-template-columns: repeat(3, 192px);
    -moz-column-gap: 3rem;
    column-gap: 3rem;
  }
  .services__card {
    padding: 5rem 2rem 1.5rem;
  }
}
