/*=============== SKILLS ===============*/
.skills__container {
  row-gap: 2rem;
  padding-top: 1rem;
}
.skills__content {
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
}
.skills__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  text-align: center;
  margin-bottom: 1.5rem;
}
.skills__box {
  display: flex;
  justify-content: center;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
}
.skills__group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}
.skills__data {
  display: flex;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}
.skills .bxs-badge-check {
  font-size: 1rem;
  color: var(--first-color);
}
.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
}
.skills__level {
  font-size: var(--tiny-font-size);
}

.skills__button {
  width: -moz-max-content;
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
}
.skills__button:hover .skills__icon {
  transform: translateX(0.25rem);
}
.skills__icon {
  font-size: 1rem;
  transition: 0.4s;
}

/*=============== BREAKPOINTS / MEDIAQUERIES ===============*/

/* For small devices */
@media (width <=320px) {
  .skills__box {
    column-gap: 1rem;
    -moz-column-gap: 1rem;
  }
  .skills__name {
    font-size: var(--small-font-size);
  }
}

/* For medium devices */
@media (width >= 576px) {
  .skills__container {
    justify-content: center;
  }
  .skills__content {
    padding: 2rem 4rem;
  }
}

/* For large devices */
@media (width >= 992px) {
  .skills__container {
    grid-template-columns: repeat(2, 350px);
    -moz-column-gap: 3.5rem;
    column-gap: 3.5rem;
  }
}
