/*=============== ABOUT ===============*/
.about__container {
  row-gap: 2.5rem;
}
.about__img {
  width: 220px;
  border-radius: 1.5rem;
  justify-self: center;
}
.about__data {
  display: flex;
  flex-direction: column;
}

.about__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.about__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--container-color);
  border-radius: 0.75rem;
  padding: 0.75rem 0.5rem;
}
.about__icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: 0.5rem;
}
.about__title {
  font-size: var(--small-font-size);
}
.about__subtitle {
  font-size: var(--tiny-font-size);
}
.about__description {
  margin-bottom: 1rem;
}
.about__button--wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*=============== BREAKPOINTS / MEDIAQUERIES ===============*/
/* For small devices */
@media (width <=320px) {
  .about__info {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* For medium devices */
@media (width >= 576px) {
  .about__info {
    grid-template-columns: repeat(3, 140px);
    justify-content: center;
  }
  .about__description {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

/* For large devices */
@media (width >= 992px) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
  }
  .about__img {
    width: 350px;
  }
  .about__data {
    text-align: initial;
  }
  .about__info {
    justify-content: initial;
  }
  .about__box {
    text-align: center;
    padding: 1rem 1.25rem;
  }
  .about__description {
    padding-left: 0rem;
    padding-right: 3rem;
  }
  .about__button--wrap {
    align-items: start;
  }
}
