/*=============== ABOUT ===============*/
.about__container {
  row-gap: 2.5rem;
  perspective: 1000px;
}

.about__img {
  width: 220px;
  border-radius: 1.5rem;
  justify-self: center;
  transform: rotateY(15deg);
  transition: transform 0.5s, box-shadow 0.5s;
  animation: hue-change 4s infinite linear;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@keyframes hue-change {
  0% {
    filter: hue-rotate(225deg);
  }
  50% {
    filter: hue-rotate(255deg);
  }
  100% {
    filter: hue-rotate(225deg);
  }
}
.about__img:hover {
  transform: rotateY(5deg);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.about__data {
  display: flex;
  flex-direction: column;
}
.about__info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  margin-bottom: 2rem;
}
.about__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--container-color);
  border-radius: 0.75rem;
  padding: 0.75rem 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: box-shadow 0.3s;
}
.about__box:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}
.about__icon {
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: 0.5rem;
}
.about__title {
  font-size: var(--small-font-size);
}
.about__subtitle {
  font-size: var(--tiny-font-size);
}
.about__description {
  margin-bottom: 1rem;
}
.about__button--wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*=============== BREAKPOINTS / MEDIAQUERIES ===============*/
/* For small devices */
@media (width <=320px) {
  .about__info {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* For medium devices */
@media (width >= 576px) {
  .about__info {
    grid-template-columns: repeat(3, 140px);
    justify-content: center;
  }
  .about__description {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

/* For large devices */
@media (width >= 992px) {
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    -moz-column-gap: 4rem;
    column-gap: 4rem;
  }
  .about__img {
    width: 350px;
  }
  .about__data {
    text-align: initial;
  }
  .about__info {
    justify-content: initial;
  }
  .about__box {
    text-align: center;
    padding: 1rem 1.25rem;
  }
  .about__description {
    padding-left: 0rem;
    padding-right: 3rem;
  }
  .about__button--wrap {
    align-items: start;
  }
}
