/*=============== HOME ===============*/
.home__container {
  position: relative;
  row-gap: 4.5rem;
  padding-top: 2rem;
}
.home__data {
  text-align: center;
}
.home__education {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
.home__education {
  color: var(--text-color);
  margin-bottom: 2.5rem;
}
.home__name {
  font-size: var(--biggest-font-size);
}
.home__img {
  width: 200px;
}
.home__handle {
  justify-self: center;
  width: 210px;
  height: 325px;
  background: linear-gradient(180deg, hsla(var(--first-hue), var(--sat), var(--lig), 1), hsla(var(--first-hue), var(--sat), var(--lig), 0.2));
  border-radius: 10rem 10rem 1rem 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
.home__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.home__scroll-left {
  position: absolute;
  color: var(--first-color);
  left: -1.5rem;
  bottom: 4rem;
  display: grid;
  row-gap: 2.25rem;
  justify-items: center;
}
.home__scroll-right {
  position: absolute;
  color: var(--first-color);
  right: -1.5rem;
  bottom: 4rem;
  display: grid;
  row-gap: 2.25rem;
  justify-items: center;
}
.home__scroll-icon {
  font-size: 1.25rem;
}
.home__scroll-name {
  font-size: var(--smaller-font-size);
  transform: rotate(-90deg);
}

/*=============== BREAKPOINTS / MEDIAQUERIES ===============*/

/* For small devices */
@media (width <=320px) {
  .home__buttons {
      flex-direction: column;
    }
    .home__handle {
      width: 170px;
      height: 225px;
    }
    .home__img {
      width: 200px;
    }
  }

  /* For large devices */
@media (width >= 992px) {
  .home__handle {
    width: 300px;
    height: 400px;
  }
  .home__img {
    width: 300px;
  }
  .home__social-link {
    padding: 0.4rem;
    font-size: 1.25rem;
  }
  .home__social::after {
    transform: rotate(90deg) translate(16px, 0);
  }
  .home__scroll-icon {
    font-size: 2rem;
  }
}
  