/*=============== CONTACT ===============*/
.contact__container {
  row-gap: 3rem;
  padding-bottom: 3rem;
}
.contact__title {
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}
.contact__info {
  display: grid;
  gap: 1rem;
}
.contact__social-list {
  display: flex;
  justify-content: center;
  margin-top: -1rem;
  margin-bottom: 3rem;
}
.contact__social-link {
  width: -moz-max-content;
  width: max-content;
  background-color: var(--container-color);
  color: var(--first-color);
  padding: 0.25rem;
  border-radius: 0.25rem;
  display: flex;
  font-size: 1.25rem;
  transition: 0.4s;
  margin-right: 1rem;
}
.contact__social-link:hover {
  background-color: var(--first-color);
  color: #fff;
}
.contact__card {
  background-color: var(--container-color);
  padding: 0.8rem;
  border-radius: 0.75rem;
  text-align: center;
}
.contact__card:hover .contact__button-icon{
  animation: slideRight 1s infinite;
}
@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0.25rem);
  }
  100% {
    transform: translateX(0);
  }
}
.contact__card-icon {
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: 0.25rem;
}
.contact__card-title,
.contact__card-data {
  font-size: var(--small-font-size);
}
.contact__card-title {
  font-weight: var(--font-medium);
}
.contact__card-data {
  display: block;
  margin-bottom: 0.75rem;
}
.contact__button {
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
  -moz-column-gap: 0.25rem;
}
.contact__button-icon {
  font-size: 1rem;
}
.contact__form-div {
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

/* ========= Form ========= */
.contact__form-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  background: none;
  color: var(--text-color);
  outline: none;
  padding: 1.5rem;
  border-radius: 0.75rem;
  z-index: 1;
  transition: border-color 0.5s, box-shadow 0.5s;
}
/* Input field colors */
.contact__form-input:focus{
  border-color: var(--first-color-alt);
  box-shadow: 0 1px 10px var(--first-color-alt);
}
.valid, .valid:focus {
  border-color: green;
  box-shadow: 0 1px 10px green;
}
.invalid, .invalid:focus {
  border-color: hsl(353, 64%, 53%);
  box-shadow: 0 1px 10px hsl(353, 64%, 53%);
}
.contact__form-tag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: var(--smaller-font-size);
  padding: 0.25rem;
  background-color: var(--body-color);
  z-index: 10;
}
.contact__form-area {
  height: 11rem;
}
.contact__form-area textarea {
  resize: none;
}
.contact__formButton-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*=============== BREAKPOINTS / MEDIAQUERIES ===============*/

/* For medium devices */
@media (width >= 576px) {
  .contact__info {
    grid-template-columns: 300px;
    justify-content: center;
  }
  .contact__form {
    width: 360px;
    margin: 0 auto;
  }
}

@media (width >= 767px) {
  .contact__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 3rem;
    -moz-column-gap: 3rem;
  }
}

/* For large devices */
@media (width >= 992px) {
  .contact__social-list {
    margin-top: -2.5rem;
  }
  .contact__container {
    -moz-column-gap: 6rem;
    column-gap: 6rem;
  }
}
