/*=============== HEADER & NAV===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: 0.4s;
}
.nav__logo:hover {
  color: var(--first-color-alt);
}
.nav__menu {
  position: fixed;
  bottom: 1rem;
  background-color: hsla(var(--second-hue), 32%, 16%, 0.8);
  width: 90%;
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: 0.4s;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 0.4rem;
  display: flex;
  border-radius: 5rem;
}

/* Active link */
.active-link {
  background: linear-gradient(
    180deg,
    hsla(var(--first-hue), var(--sat), var(--lig), 1),
    hsla(var(--first-hue), var(--sat), var(--lig), 0.2)
  );
  box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), 0.4);
  color: var(--title-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 4px 4px hsla(0, 0%, 4%, 0.3);
}

/*=============== BREAKPOINTS / MEDIAQUERIES ===============*/

/* For small devices */
@media (width <= 320px) {
  .nav__menu {
    padding: 1rem 1.5rem;
  }
}

/* For medium devices */
@media (width >= 576px) {
  .nav__menu {
    width: 330px;
    /* left: 0;
    right: 0;
    margin: 0 auto; */
  }
}

/* For large devices */
@media (width >= 992px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
}
