/*=============== FOOTER ===============*/
/* .footer {
  background-color: var(--first-color);
} */
.footer__container {
  padding: 0rem 0 4rem;
}
.footer__title, .footer__link {
  color: var(--body-color);
}
.footer__title {
  text-align: center;
  margin-bottom: 2rem;
}
.footer__list {
  display: flex;
  justify-content: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  margin-bottom: 2rem;
}
.footer__social {
  display: flex;
  justify-content: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.footer__social-link {
  background-color: var(--body-color);
  color: var(--first-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  display: inline-flex;
}
.footer__copy {
  display: block;
  margin-top: 2rem;
  color: var(--container-color);
  text-align: center;
  font-size: var(--small-font-size);
  font-weight: 500;
}

/*=============== BREAKPOINTS / MEDIAQUERIES ===============*/

/* For large devices */
@media (width >= 1582px) {
  .footer__social-link {
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}