/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
      Purple: hsl(250, 66%, 75%)
      Blue: hsl(207, 90%, 72%)
      Pink: hsl(356, 66%, 75%)
      Teal: hsl(174, 63%, 62%)
  */
  --first-hue: 250;
  --sat: 66%;
  --lig: 75%;
  --second-hue: 219;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%); /* -4% */
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);
  /*========== Default Dark theme ==========*/
  /* --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%); */
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
@media screen and (min-width: 767px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== LIGHT THEME ===============
Color changes : id or classlist are both valid methods
==========*/
body#light {
  --title-color: hsl(var(--second-hue), 15%, 15%);
  --text-color: hsl(var(--second-hue), 8%, 35%);
  --body-color: hsl(var(--second-hue), 100%, 99%);
  --container-color: #fff;
}
#light .scroll-header {
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, 0.1);
}
#light .nav__menu {
  background-color: hsla(var(--second-hue), 32%, 90%, 0.8);
}
#light .section__subtitle {
  color: var(--text-color);
}
#light .home__social-link {
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}
#light .home__social::after,
#light .footer__social-link {
  background-color: var(--title-color);
}
#light .home__social-link,
#light .home__scroll,
#light .button,
#light .button:hover,
#light .footer__title,
#light .footer__link,
#light .footer__copy,
#light .active-work {
  color: var(--title-color);
}
#light .about__box {
  box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, 0.1);
}
#light .skills__content,
#light .services__card,
#light .work__card,
#light .testimonial__card,
#light .contact__card {
  box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, 0.1);
}
#light::-webkit-scrollbar {
  background-color: hsl(var(--second-hue), 8%, 66%);
}
#light::-webkit-scrollbar-thumb {
  background-color: hsl(var(--second-hue), 8%, 54%);
}
#light::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--second-hue), 8%, 44%);
}

/*=============== LAYOUT -REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}
.section__title,
.section__subtitle {
  text-align: center;
}
.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}
.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== BUTTONS ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.4s;
  border: var(--body-color) solid 1px;
}
.button:hover {
  background-color: var(--first-color-alt);
  color: white;
  border-color: white;
}
.button--ghost {
  background-color: transparent;
  color: var(--first-color);
  border: 1px solid var(--first-color);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(var(--second-hue), 8%, 38%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--second-hue), 8%, 26%);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--second-hue), 8%, 20%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
}

/* For medium devices */
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 767px) {
}

/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    padding: 6.5rem 0 1rem;
  }
  .section__title {
    margin-bottom: 3.5rem;
  }
}
