/*=============== WORK ===============*/
.work__container {
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.work__filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  -moz-gap: 0.5rem;
  margin-bottom: 2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.work__filter {
  cursor: pointer;
  color: var(--title-color);
  background-color: var(--body-color);
  padding: 0.25rem 0.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
}
.work__card {
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
  max-width: 275px;
}
.work__img {
  border-radius: 1rem;
  margin-bottom: 0.75rem;
}
.work__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}
.work__links {
  display: flex;
  flex-direction: row;
}

.work__links a {
  margin-right: 1rem;
}

.work__button {
  width: -moz-max-content;
  width: max-content;
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
}
.work__button:hover .work__icon {
  transform: translateX(0.25rem);
}
.work__icon {
  font-size: 1rem;
  transition: 0.4s;
}

/* Active item work*/
.active-filter {
  background-color: var(--first-color);
  color: var(--body-color);
  transition: 0.4s;
}
.active-filter:hover {
  background-color: var(--first-color-alt);
  color: var(--body-color);
}

/*=============== BREAKPOINTS / MEDIAQUERIES ===============*/

/* For small devices */
@media (width <=320px) {
  .work__filter {
    font-size: var(--small-font-size);
  }
  .work__filters {
    gap: 0.25rem;
    -moz-gap: 0.25rem;
  }
}

@media (width <=602px) {
  .work__card {
    max-width: 400px;
  }
}

/* For large devices */
@media (width >= 992px) {
  .work__container {
    gap: 3rem;
  }
  .work__card {
    padding: 1.25rem;
  }
  .work__img {
    margin-bottom: 1rem;
  }
  .work__title {
    margin-bottom: 0.5rem;
  }
}
